<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipment : equipment list</title>
    <link rel="stylesheet" href="/static/css/bootstrap_5-2-2.css">
    <script src="/static/js/bootstrap_5-2-2.js"></script>
</head>

<body>

    {% include "/menu.html" %}

    <div class="container d-flex">
        <div class="p-2">Access : {{access}}</div>
        <div class="p-2">Location : {{location}}</div>
        <div class="ms-auto p-2">
            <form action="/download" method="POST">
                <input type="hidden" name="key_export_csv" value="inventorybystore">
                <input type="hidden" name="access" value="{{access}}">
                <input type="hidden" name="location" value="{{location}}">
                <button type="submit" class="btn btn-outline-primary">Export CSV file</button>
            </form>
        </div>
    </div>

    <div class="container border border-start-0 border-end-0 border-bottom-0">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Description</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for i in dataset %}
                <tr>
                    <td>{{i[0]}}</td>
                    <td>{{i[1]}}</td>
                    <td>{{i[2]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

</body>

</html>